header {
    border-top-width: 5px;
    border-top-style: solid;
}

#menu {
    margin: 0;
}
#menu a {
    height: 40px;
    line-height: 40px;
    margin: 0;
}
#menu a:hover {
    border-radius: 0;
}

#main-content {
    padding: 20px 0;
}

footer {
    padding: 20px 0 10px;
}