a, input, select, textarea {outline:none !important;
}
body {
  overflow-x:hidden;
}
.font {
	font-family: 'Open Sans', sans-serif;
	font-weight:400; /*Normal*/
	font-weight:600; /*Semi-Bold*/
	font-weight:700; /*Bold*/
	font-weight:800; /*Extra-Bold*/
}
.header {
	padding:36px 0 21px 0;
	//background:#fff;
	border-top-width:5px;
    border-top-style: solid;
}
.fleft {
  float:left;
}
.fright {
  float:right;
}
.clear {
	height:0;
	clear:both;
	font-size:0;
}
img {
	outline:0;
	vertical-align:top;
}
.logo {padding-bottom:6px;
}
.logo img {max-width:100%;
}

/*nav*/
#main_menu {
	position: relative;
	float:right;
}
.menu_wrap {
  padding-top: 10px;
  float:right;
}
.menu_wrap .nav li {
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
}
.menu_wrap .nav > li {
  padding: 0 0 0 25px;
  display:inline-block;
}
.menu_wrap .nav li a {
  line-height:18px;
  //color: #313131;
  font-family: 'Open Sans', sans-serif;
  font-weight:800;
  font-size:14px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  padding:0;
  text-align:left;
}
//.menu_wrap .nav > li.sfHover > a,
//.menu_wrap .nav > li.sfHover > a:hover,
//.menu_wrap .nav > li > a:hover,
//.menu_wrap .nav > li.current > a,
//.menu_wrap .nav > li.current > a:hover {
//	color: #c5c5c5;
//	background:none;
//}
//.sub-menu > a {position: relative;
//}
//.menu_wrap .nav > li.sub-menu > a:before {
//  content: " ";
//  position: absolute;
//  background: none;
//  width: 7px;
//  height: 4px;
//  right: 50%;
//  top: 51px;
//  margin: 0 -3px 0 0;
//}
//.menu_wrap .nav > li.sfHover > a:before,
//.menu_wrap .nav > li.sfHover > a:hover:before,
//.menu_wrap .nav > li > a:hover:before,
//.menu_wrap .nav > li.current > a:before,
//.menu_wrap .nav > li.current > a:hover:before { background: image-url('red/li-marker.png') left top no-repeat;
//}
//.menu_wrap .nav > li.current > a:before { background: none;
//}
//.menu_wrap .nav > li.current.sfHover > a:before { background: image-url('red/li-marker.png') left top no-repeat;
//}
//.menu_wrap .nav ul {
//  position: absolute;
//  display: none;
//  width: 133px;
//  left: 0;
//  top: 55px;
//  list-style: none;
//  zoom: 1;
//  z-index: 25;
//  background:#fff;
//  border-top:4px #d00b01 solid;
//  padding: 14px 0 7px 0;
//  margin: 0;
//}
//
//.menu_wrap .nav > li li.sub-menu > a:before {
//  content: " ";
//  position: absolute;
//  background: none;
//  width: 7px;
//  height: 4px;
//  right: 10px;
//  top: 13px;
//}
//.menu_wrap .nav ul li a {
//  display: block;
//  text-transform: none;
//  font-size: 12px;
//  font-weight:400;
//  color:#313131;
//  line-height: 18px;
//  padding: 0 10px 7px 15px;
//  background: none;
//}

/*Breadcrumbs*/

.breadcrumb {
  padding: 19px 0;
  margin: 0 0 20px 0;
  list-style: none;
  //background:#d1d1d1;
  //color:#d00b01;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:19px;
}
.breadcrumb span {
  color:#1e1e1e;
  padding:0 5px;
}
.breadcrumb a {
  color:#1e1e1e;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:19px;
}

/*Page*/

.page_container {
  padding-bottom:40px;
  //background:#FFF;
}

/*Footer*/

.footer_bottom {
  //background:#1e1e1e;
  padding:23px 0 26px 0;
}

.foot_right_block {
  text-align:right;
  padding-top:10px;
}

.foot_menu {
  text-align:right;
}
.foot_menu li {
  display:inline-block;
  padding:0 16px 0  0!important;
  border:0 !important;
  margin:0 !important;
}
.foot_menu li:last-child {
  padding:0 !important;
}
.foot_menu li a {
  text-transform:uppercase;
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
  font-weight:800;
  font-style:normal !important;
}
.foot_menu li a:hover, .foot_menu li a.current {
  text-decoration:none;
}

