/*
*= require redactor-rails
*/

.control-panel {
  background: gray;
}
.redactor-block {
  display: none;
}
.edit-icon {
  float: right;
  border: 1px solid black;
  border-radius:3px;
  padding: 2px 4px;
  visibility: hidden;
}
div.page-content:hover .edit-icon {
  visibility: visible;
}

//Carousel
.select_to_list li {
  padding: 20px;
  line-height: 100px;
}
#select_to_list li.active {
  background-color: red;
}
#color_list div {
  width: 32px;
  height: 100px;
  display: inline-block;
}
#background_list div {
  width: 160px;
  height: 100px;
}