/*
*= require redactor-rails
*/

.control-panel {
  background: gray;
}
.redactor-block {
  display: none;
}
.edit-icon {
  float: right;
  border: 1px solid black;
  border-radius:3px;
  padding: 2px 4px;
  visibility: hidden;
}
div.page-content:hover .edit-icon {
  visibility: visible;
}

//Carousel
#templates_list li {
  line-height: 100px;
  padding: 20px;
}
#templates_list li.active {
  background-color: red;
}
#color_list li {
  width: 100px;
  height: 80px;
}
#color_list div {
  width: 20px;
  height: 80px;
  display: inline-block;
}