//= require redactor-rails
//= require jquery.ui.all
//= require jquery.fileupload-ui

.add_item_to_menu span {
  border: 1px dashed #000;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.control-panel {
  background: gray;

  background-color: #fff;

  box-shadow: 0 5px 5px #ccc;
  border-bottom: 1px solid #c64012;

}
.control_hide_block {
  padding: .5em 0;
}
.redactor-block {
  display: none;
}
div.page-content:hover .edit-icon {
  visibility: visible;
}

//Carousel
#design_panel {
  display: none;
}
.select_to_list li {
  padding: 10px;
  line-height: 100px;
}
.select_to_list li.active {
  background-color: red;
}
#color_list div {
  width: 32px;
  height: 100px;
  display: inline-block;
}
#background_list div {
  width: 160px;
  height: 100px;
  background-color: #ffffff;
  text-align: center;
}

//Menu moving
.menu-move {
  cursor: move;
  position: absolute;
  margin:  2px 0 0 -16px;
  display: none;
}
.menu_update {
  opacity: 0.5;
}
#menu li:hover i.menu-move {
  display: block;
}
#deleted_pages,#visible_pages {
  padding: 2px;
  border: 1px solid lightgray;
}


.edit_page {
  cursor: pointer;
}
//Blocks
//controls
.block-control {
  padding: 10px 0;
}
.block-editable-area {
  border: 1px dashed #000;
  min-height: 30px;
  position: relative;
}
.merge-marker .block-editable-area {
  border-style: solid;
}
//.edit-icon {
//  position: absolute;
//  border: 1px solid black;
//  border-radius:3px;
//  padding: 2px 4px;
//  display: none;
//  top: 5px;
//  right: 5px;
//  background-color: #ffffff;
//}

//HIDE BLOCK
.hide_pointer {
  padding: .5em 0;
  background: #d44413;

  text-shadow: 0 1px 0 #c64012;
  color: #fff;
}
.control-panel .hide_pointer a {
  color: #fff;
  cursor: pointer;
}
.hide_pointer .position-fix {
  margin-top: -1px;
}
.hide_pointer .icon-white {
  margin-right: 5px;
}
// .hide_pointer .show-hide{
//   cursor: pointer;
//   display: block;
//   padding: 0.5em 1em;
//   position: relative;
//   margin-bottom: -3em;

//   background: #fff;
//   float: right;

//   border: 1px solid red;
//   border-top:  1px solid white;
// }